@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.lab_video_text_wrap
		height: 300px

	.topper
		font-size: 10px

	#fixed
		.slogan
			margin-top: 0px


	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.topper
		height: 28px
		.slogan
			font-size: 9px

	.home header#home
		top: 27px
		.logo
			img
				max-height: 70px
		.head_right
			padding-top: 0
			margin: 15px 0
			.search
				display: none
			.header_phone
				display: block
				padding-top: 0
				.phone
					background: none
					padding-left: 0
				.callback
					left: 0

	.topmenu li a
		font-size: 9px
		border-right: none

	.archive .mfp-content
		width: 90%


	header
		top: 28px
	.lab_video_text_wrap
		height: 250px
	.lab_video_text_overlay h2
		font-size: 2em
	.lab_video_text_overlay 
		font-size: .9em

	.swiper-container
		top: -28px

	.about h1
		font-size: 28px

	.services
		.button_services
			text-align: left
			a
				font-size: 10px
				margin: 2px
		video
			height: 200px

	.production
		background-position: 0
		.about_production
			margin: 0 -15px
			padding: 30px 15px

	.contentList
		.format-standard
			flex-direction: column
			&:hover
				background-color: transparent
			.image, .info
				width: 100%

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	
	#fixed
		.head_right
			font-size: 11px
			.phone
				display: none

	.swiper-button-next, .swiper-button-prev
		background-size: auto
		width: 13px
		height: 30px
	.production
		background-position: -200px
		.mobile_none
			display: none

	.contentList .itemListElement
		display: block
		.image,
		.info
			width: 100%
			line-height: 1.3

	.map-balloon
		display: none

	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

